


@font-face {
    font-family: 'Oswald';
    src: url(./assets/Oswald-VariableFont_wght.ttf);
}
div{
    display:grid;
    place-content: center;
    background: linear-gradient(rgb(98, 98, 232),rgb(48, 188, 142), rgb(3, 215, 100));
    text-shadow: 1px 1px red;
    box-shadow: 3px 4px 4px 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    border-radius: 3%;
    
}
div:hover{
    animation: myAnim2 4s ease 0s 1 normal forwards;
}
.titulo{
    color: white;
    display:grid;
    place-content: center;
    height: fit-content;
    border: 2px solid red;
    padding: 10px 10px;
    background: linear-gradient(white,grey,black);
    text-shadow: 2px 2px red;
    box-shadow: 1px 2px 2px 1px rgb(242, 164, 164);
    animation: mover 8s linear infinite alternate;
    border-radius: 20%;
}
body{
    font-family: 'Oswald';
    width: fit-content;
    height: fit-content;
    background-image: url('/assets/nano.jpg');
    background-size: cover;
    display: block;
    
}
h1:active{
    background: linear-gradient(rgb(98, 98, 232),rgb(48, 188, 142), rgb(3, 215, 151));
}

@keyframes mover{
    0%{
        overflow: hidden;
        width: 0;
    }
    25%{
        
        width: 25%;
    }
    50%{
        
        width: 50%;
    }
    75%{
        
        width: 75%;
    }
    100%{
        
        width: 94%;
    }
}

@keyframes myAnim2 {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}



